body{
    background-color:#112 ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui , sans-serif;
    color: white;
}
